<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<ul>
  <li><a routerLink="/about">About</a></li>
  <li><a routerLink="/hello">Hello</a></li>
</ul>
<router-outlet></router-outlet>
<div class="black">
  <h1> {{ title }} </h1>
</div>
<div class="ash">
  <h2>{{ name }}</h2>
  <h2>{{ email }}</h2>

  <button (click)="toggleHobbies()" class="btn">Mostrar Hobbies</button>
  <div *ngIf="showHobbies" class="component2">
    <h3>hobbies</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
    </ul>
  </div>
  <a href="{{ webpage }}" target="_blank">Visita mi sitio Web</a>
</div>
<div class="black">
  <h1>{{ title }}</h1>
</div>
<form (submit)="newHobby(hobby)">
  <input #hobby type="text" placeholder="hobby">
</form>
<app-hello-world>Aqui</app-hello-world>
<ul>  
  <app-user *ngFor="let user of users" [nameUser]="user"></app-user>   
</ul>
<button (click)="sayHello()">Haz click</button> 
<h1>Desde app.component</h1>
<form (submit)="addUser(newUser)">
  <input type="text" #newUser>
  <button>Agregar Usuario</button>
</form>
<ul>
  <li *ngFor="let user of users">
    {{ user }} <button (click)="deleteUser(user)">Borrar Usuario</button>
  </li>
</ul>
<div>
  <form>
    <input type="text" name="name" [(ngModel)]="nameA2">
    <input type="text" name="age" [(ngModel)]="age">
  </form>
  <h2>Name: {{ nameA2 }}</h2>
  <h2>Age: {{ age }}</h2>
</div>
<div class="black">
  <h1> {{ title }}</h1>
</div>

<div class="ash" *ngFor="let post of posts">
  <h2>{{ post.title }}</h2>
  <h3>{{ post.body }}</h3>
</div>